body, *{
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
	font-family: sans-serif;
}

.bal
{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: end; */
}

span, p{
	font-size: 3.5vmax;
}

.title
{
	font-size: 30px;
	padding-bottom: 5%;
	font-weight: bold;
	font-size: 5vmax;
}

.map {
	width: 99vw;
	height: 99vh;
	background-color: #333;
}

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="balloon__layout"] {
	height: 65vh !important;
	width: 23vw !important;
	padding: 0px !important;
	border-radius: 2vh;
}

[class*="balloon__content"] {
	padding: 0px !important;
	margin: 0px !important;
}

[class*="balloon__content"] :first-child {
	height: 100% !important;
	width: 100% !important;
}

[class*="balloon_layout_"]{
	border-radius: 2vh;
}

.bImg
{
	position: relative;
	width: 100% !important;
	max-height: 45vmax;

}

.info
{
	position: relative;
	margin-top: -2.5vh;
	border-radius: 2.5vh;
	padding: 3% 6%;
	background-color: white;
	z-index: 1;
	display: flex;
	flex-direction: column;
	
}

.infoLink
{
	text-decoration: none;
	background-color: #e1e9ff;
	color: rgb(0, 81, 255);
	font-weight: bold;
	padding: 0.5% 3%;
	border-radius: 2vh;
}

.infoLink :first-child
{
	font-size: 5vmax;
}

.infoLink:hover 
{
	background-color: 3rgb(62, 122, 253);
	transition: all 0.5s ease-in-out;
}

.infoLink:hover span
{
	transition: all 0.5s ease-in-out;
	filter:brightness(100);
}

.adr_lnk
{
	display: flex;
	justify-content: space-between;
	/* padding-top: 19vmax; */
	align-items: center;
	padding: 3% 6%;
}

.adr
{
	font-size: 3vmax;
	color: #333;
}

.status_cost
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 5%;
}

.fontBigger
{
	/* font-size: 1.1em; */
}

.cost
{
	font-weight: bold;
}

.finishing
{
	margin-bottom: 1vh;
}


@media (min-width: 250px) and (max-width: 500px) {

	[class*="balloon__layout"] {
		height: 35vh !important;
		width: 55vw !important;
		padding: 0px !important;
		border-radius: 2vh;
	}

	span, p{
		/* font-size: 4vmax !important; */
	}

}

@media (min-width: 500px) and (max-width: 1000px) {

	[class*="balloon__layout"] {
		height: 35vh !important;
		width: 50vw !important;
		padding: 0px !important;
		border-radius: 2vh;
	}

	span, p{
		font-size: 3.5vmax;
	}
}


